.front-view-slider .front-view .info{
    left: calc(5% + 15px);
}
.front-view-slider .front-view .buttons{
    bottom: 2rem !important;
}
.sale span{
    height: 2.6rem;
    line-height:2.6rem;
    font-size: .8rem;
}
/* responsive */
@media only screen and (max-width: 100rem){
.front-view-slider .front-view {
  height: 18.5rem !important;
}
}